<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<div>
    <a th:href="@{/api/companies}">
        <button>Company</button>
    </a>
    <a th:href="@{/api/courses}">
        <button>Course</button>
    </a>
    <a th:href="@{/api/instructors}">
        <button>Instructor</button>
    </a>
    <a th:href="@{/api/lessons}">
        <button>Lesson</button>
    </a>
    <a th:href="@{/api/students}">
        <button>Student</button>
    </a>
    <a th:href="@{/api/tasks}">
        <button>Task</button>
    </a>
    <a th:href="@{/api/videos}">
        <button>Video</button>
    </a>
</div>
</body>
</html>