<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/companies/save}"
      method="post"
      th:object="${newCompany}">

    <label for="companyName">company name</label>
    <input id="companyName" th:field="${newCompany.companyName}" placeholder="example">
    <br><br>

    <label for="locatedCountry">located country</label>
    <input id="locatedCountry" th:field="${newCompany.locatedCountry}" placeholder="example">
    <br><br>
    <button type="submit">save</button>

</form>
<div>
    <a th:href="@{/companies}">
        <button>go back</button>
    </a>
</div>

</body>
</html>